<h4>Super Team Page!</h4>

<h1><%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>
<br></br>

<h1>Hero Name: <%= @hero1_name %></h1>
<h2>Hero Power: <%= @hero1_power %></h2>
<h2>Hero Biography: <%= @hero1_bio %></h2>
<br></br>

<h1>Hero Name: <%= @hero2_name %></h1>
<h2>Hero Power: <%= @hero2_power %></h2>
<h2>Hero Biography: <%= @hero2_bio %></h2>
<br></br>

<h1>Hero Name: <%= @hero3_name %></h1>
<h2>Hero Power: <%= @hero3_power %></h2>
<h2>Hero Biography: <%= @hero3_bio %></h2>
<br></br>
